body{
  background-color: lightgray;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 880px;
  height: 1000px;
  background-color: aliceblue;
}

.bodyStyles{
  display: flex;
}

.header{
  border: 1px solid aliceblue;
  margin-top: 2%;
}

.friendListContainer{
  margin-left: 1%;
  width: 75%;
}

.friendFormContainer{
  margin-left: 5%;
}